.container{
    margin:auto;
    width:500px;
    align-items: center;
    color:white;
    margin-left:500px;
    color:black;
}
.av{
    padding:30px;
    margin:auto ;
    background-color: azure;
    width:500px;
    height:550px;
    border-radius:5%;
    border:3px solid black;
}
body{
    background-color:gold;
}